@font-face {
	font-family: "SF UI";
	src: url("src/font/san_francisco-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/sf-ui-text-2");
@font-face {
	font-family: "Yang Bagus";
	src: url("src/font/Yang-Bagus.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.titre {
	font-family: "Yang Bagus", sans-serif;
	text-align: left;
	font-size: 2em;
	color: #ffffff;
	position: absolute;
	top: 35%;
	left: 2%; /* Ajustement pour éviter de trop coller au bord */
}

.l {
	font-family: "SF UI Text", sans-serif;
	text-align: left;
	position: absolute;
	color: #ffffff;
	left: 2%;
	top: 50%;
	width: 80%;
	font-size: 1.8rem; /* Evite d'utiliser des unités trop grandes comme % */
	line-height: 1.5; /* Améliore la lisibilité */
}
.historique {
	font-family: "yang bagus";
	font-size: larger;
}
.img1 {
	position: absolute;
	top: 1%;
	left: 95%;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
	object-fit: cover; /* Pour garantir que l'image s'adapte bien */
}
.img2 {
	position: absolute;
	top: 10%;
	left: 0;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	overflow: hidden;
	object-fit: cover;
}
@media (max-width: 768px) {
	.titre {
		font-size: 1.5rem;
		left: 5%;
	}
	.l {
		font-size: 1rem;
		width: 90%;
	}
	.img1,
	.img2 {
		height: 100px;
		width: 100px;
	}
}
