.quizz {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
	font-size: 35px;
}
.retour {
	position: absolute;
	top: 30px;
	left: 2%;
	color: #ffffff;
	font-weight: lighter;
	cursor: pointer;
	animation: moveLeftRight 0.5s ease-in-out infinite alternate;
}

@keyframes moveLeftRight {
	0% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(5px);
	}
}
.background {
	transform: scale(67%);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
	position: fixed;
	top: -125%;
	left: -45%;
	z-index: -1;
}
.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
	font-size: 35px;
}
.options {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 50px;
}
.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.options img {
	width: 300px;
	cursor: pointer;
	transition: transform 0.2s ease;
}
.options img:hover {
	transform: scale(1.1);
}
.result {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: white;
}
.play {
	position: absolute;
	top: 80%;
	left: 47.3%;
	cursor: pointer;
}
.play:hover {
	transform: scale(1.1);
}
