body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Yang Bagus";
	src: url("../src/font/Yang-Bagus.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Yang Bagus";
	text-align: center;
}
.section-wrapper {
	height: 100vh;
	overflow: hidden;
}

.section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2em;
	padding: 20px;
}

body {
	background-color: #7d9cde;
}
#section1
#section2 {
	background-color: #7d9cde00;
}
html {
	scroll-behavior: smooth;
}
.container_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45vh;
}
.retour {
	position: fixed;
	top: 30px;
	left: 2%;
	color: #ffffff;
	font-weight: lighter;
	cursor: pointer;
	animation: moveLeftRight 0.5s ease-in-out infinite alternate;
	z-index: 1;
}
@keyframes moveLeftRight {
	0% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(5px);
	}
}
.container_button button {
	width: 100%;
	height: 100%;
	background-color: #7d9cde;
	border: none;
	color: white;
	font-size: 1.5vw;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1vh;
}

.container_button button:hover {
	background-color: #7d9cde;
}

.container_button button:nth-child(2) {
	background-color: #ffffff;
	color: #7d9cde;
}

.background {
	
	
	transform: scale(67%);
	
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
	position: fixed;
	top: -125%; 
	left: -45%;
	z-index: -1;
}
.precedent {
    margin-right: 30%;
    font-size: 90px;
}

.precedent:hover {
    transform: scale(1.1);
	filter: drop-shadow(0 0 10px #FF934B);
}

.suivant {
    font-size: 90px;
}

.suivant:hover {
    	transform: scale(1.1);
	filter: drop-shadow(0 0 10px #FF934B);
}
